.stack {
  display: grid;
  gap: var(--cw-space-8);
}

.subStack {
  display: grid;
  gap: var(--cw-space-8);
  margin-block-start: var(--cw-space-16);
}

.ask {
  margin-block-start: var(--cw-space-32);
}

.options {
  display: grid;
  gap: var(--cw-space-12);
  margin-block-start: var(--cw-space-16);
}

@media (min-width: 640px) {
  .options {
    grid-template-columns: 1fr 1fr;
  }
}
